
<div class="login-container">

    <div class="login-flexbox reg-margin">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="150" fill="currentColor" viewBox="0 0 640 512">
            <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
    
        <form name = "form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
          
            <div class ="input-box icon">
            
                <input
                    required
                    type="text"
                    name="username"
                    [(ngModel)]="form.username"
                    #username="ngModel" placeholder="USERNAME">
            </div>
                
            <div class ="input-box">
              
                <input type="password"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        #password="ngModel"placeholder="PASSWORD">
            </div>

            <div class ="input-box">
                <input
                type="text"
                name="firstName"
                [(ngModel)]="form.firstName"
                required
                #firstName="ngModel" placeholder="FIRSTNAME"/>
               
            </div>


            <div class ="input-box">

                <input
        type="lastName"
        name="lastName"
        [(ngModel)]="form.lastName"
        required
        #lastName="ngModel" placeholder="LASTNAME"/>
               
            </div>

            <button class="signin-btn">REGISTER</button>
            </form>
            <p class="reg-btn"> <a href="/">Already Had An Account</a></p>
    </div>
</div>
            
